node_modules/
compose-dev.yaml
.idea/
/migrations/
.vscode/
**/__pycache__/
.jpg
**/migrations/**
venv/
/venv/
/__pycache__/
__pycache__/
/__pycache__/


utils/__pycache__
venv
4766_8jMPv4U.jpg
4766_h1EYkzj.jpg
4766.jpeg
4766.jpg
users/__pycache__
users/migrations
room/__pycache__
room/migrations
penality/__pycache__
penality/migrations
house/__pycache__
house/migrations
company/__pycache__
company/migrations
branch/__pycache__
branch/migrations
backend/__pycache__
