$vh-primary-green-25: #f2f9f5;
$vh-primary-green-50: #d3eddf;
$vh-primary-green-100: #b0dec6;
$vh-primary-green-200: #b0dec6;
$vh-primary-green-300: #6ac093;
$vh-primary-green-400: #47b17a;
$vh-primary-green-500: #24a360;
$vh-primary-green-600: #1e8851;
$vh-primary-green-700: #186f41;
$vh-primary-green-800: #135432;
$vh-primary-green-900: #0d3b23;

$color-primary: #00b96b;