 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 @import '../scss/utils/index';
 @import '../../modules/core/styles/index.scss'