 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 @import '../scss/base/fonts';
 @import '../scss/utils/index';
 @import '../../modules/core/styles/index.scss';
 @import '../../modules/authentication/styles/index.scss';
 @import '../..//modules/kirayAdminApp/styles/index';
 @import '../../modules/common/styles/index'